#thirdDiv {
  display: grid;
  place-items: center;
  width: 400px;
  height: 600px;
  background-color: rgb(13, 193, 13);
  padding: 50px;
  border-style: dotted rgb(7, 135, 7);
}

#thirdDiv img {
  width: 400px;
}

#spanId {
  margin: 50px;
  font-size: 18px;
}

#divClass {
  display: grid;
  place-items: center;
  color: rgb(13, 158, 13)
}